.h{
    position: relative;
    z-index: 10;
}
.header{
    background:black;  
}


.content-container{
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
}


.header-item{
    display: inline-block;
    padding: 0px 10px;
    list-style-type: none;

    @media (max-width:45rem){
        display: none;
    }
    
}

.header-link{
    text-decoration: none;
    color:white;
    font-size: 0.9rem;
    padding: 4px 4px;
    &:hover{
        color: orange;
    }
    @media (max-width:49rem) {
        font-size: 0.75rem;
    }
}

.header-link-right{
    text-decoration: none;
    color:white;
    font-size: 0.9rem;
    padding: 4px 4px;
    &:hover{
        color: orange;
    }

    @media (max-height: 640px){
        padding: 2px 2px;
    }

}

.logo{
    height: 60px;
    width: 110px;
    margin-bottom: -15px;
}


.list-items{
    padding-right: 10px;
    color: orange;
}

.item-pic{
    height: 20px;
    width: 20px;
    padding: 0px 8px;
    @media (max-width:49rem) {
        height: 15px;
        width: 15px;
    }
}

.side-item{
    display: inline;
    text-align: center;

    @media (max-width: 519px){
        display: block;
        
    }
}

.right{
    display: inline;
}

